<div class="home-container">
    <div *ngIf="auth$ | async as auth">
        <h2 *ngIf="auth.user">Welcome {{auth.user.user.firstName }}</h2>
    </div>

    <div *ngIf="isAdmin && (users$ | async) as users;">
        <h3>All Registered Users</h3>
        <table class="user-grid">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Admin</th>
                    <th>IsDeleted</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobileNo }}</td>
                    <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
                    <td>
                        <button (click)="deleteUser(user.id)">Delete</button> <!-- Delete button -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!isAdmin">
        <h3>Your Information</h3>
        <div *ngIf="(selectedUser$ | async) as selectedUser;">
            <p><strong>First Name:</strong> {{ selectedUser.firstName }}</p>
            <p><strong>Last Name:</strong> {{ selectedUser.lastName }}</p>
            <p><strong>Email:</strong> {{ selectedUser.email }}</p>
            <p><strong>Mobile:</strong> {{ selectedUser.mobileNo }}</p>
            <p><strong>Admin:</strong> {{ selectedUser.isAdmin ? 'Yes' : 'No' }}</p>
        </div>
    </div>
</div>