<div class="home-container">
    <h2>Welcome to the Home Page</h2>
  
    <div *ngIf="isAdmin; else userTemplate">
      <h3>All Registered Users</h3>
      <table class="user-grid">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Admin</th>
            <th>IsDeleted</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobileNo }}</td>
            <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
            <td>
              <button (click)="deleteUser(user.userId)">Delete</button> <!-- Delete button -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Template for non-admin users -->
    <ng-template #userTemplate>
      <h3>Your Information</h3>
      <div class="user-info">
        <p><strong>First Name:</strong> {{ userData.firstName }}</p>
        <p><strong>Last Name:</strong> {{ userData.lastName }}</p>
        <p><strong>Email:</strong> {{ userData.email }}</p>
        <p><strong>Mobile:</strong> {{ userData.mobile }}</p>
        <p><strong>Admin:</strong> {{ userData.isAdmin ? 'Yes' : 'No' }}</p>
      </div>
    </ng-template>
  </div>
  